<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="card">
    <div class="card-body">
      <div *ngFor="let question of questions">
        <app-question [question]="question" [form]="form" class="form-group" (changedQuestion)="displayChildrens($event)"></app-question>
      </div>
      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
      <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
      </div>
    </div>
  </form>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->